*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

data/*
dataGray/*

*.zip

*.png
*.log
*.ply

output/*

SIBR_viewers/*
submodules/diff-gaussian-rasterization/third_party/*
cameras.json